{% extends "base.html" %} 

{% block content %}
    <form method="post" enctype="multipart/form-data"> <!-- o usuário vai enviar a informação, o form aceita varios tipos de conteúdo -->
        {% csrf_token %} <!-- token de segurança do Django, para evitar ataques CSRF -->
        
        <table>
            {{ form.as_table }} <!-- renderiza o form que foi criado no views.py, as_table: cada campo do form será uma linha da tabela --> 
        </table>

        <input type="submit" value="Cadastrar" class="btn btn-primary" /> <!-- botão de submit para enviar o form -->
         
    </form>

{% endblock %}